<html ng-app="TestApp">
    <head>
        <title>Wlany Front End</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
    </head>
    <body ng-controller="MainController as vm">
        <ul>
            <li ng-repeat="todo in vm.todo">
                {{todo.todo}}
            </li>
        </ul>
        <script>
            var ludzieKlienta = <%- JSON.stringify(ludzieSerwera) %>;
            //alert(ludzieKlienta);
        </script>
        <script src="/asety/js/app.js"></script>
    </body>
</html>